<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | Data Server</title>
    <style>
        .flashMessage {
            color: green;
        }
    </style>
</head>
<body>
    <h1>Admin</h1>
    {% with messages = get_flashed_messages() %}  
        {% if messages %}  
            {% for message in messages %}  
                <h3 class="flashMessage">{{ message }}</h3>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <p><a href="{{ url_for('getDataStore', key=adminKey)}}">View Data</a>   <a href="{{ url_for('viewLogs', key=adminKey)}}">View Logs</a>   <a href="{{ url_for('reloadMetadata', key=adminKey) }}">Reload Metadata</a>   <a href="{{ url_for('toggleLock', key=adminKey) }}">Toggle Lock</a></p>
    <br>
    <h3>Stream Centre: {{ sc["enabled"] }}</h3>
    <p><strong>Streams: {{ sc["streams"] }} Connections: {{ sc["conns"] }}</strong>  <a href="{{ url_for('shutdownStreamCentre', key=adminKey) }}">Shutdown</a></p>
    {% for fragID in sc["data"] %}
        <p>Fragment ID: {{ fragID }}  <a href="{{ url_for('closeFragmentStream', key=adminKey, fragmentID=fragID) }}">Close Stream</a></p>
        <p>Connections</p>
        <ul>
            {% for connID in sc["data"][fragID] %}
                <li>IP: {{ sc["data"][fragID][connID]["ip"] }} Datetime: {{ sc["data"][fragID][connID]["datetime"] }} <a href="{{ url_for('closeConnection', key=adminKey, fragmentID=fragID, connectionID=connID) }}">Close</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
    <br>
    <h3>Pending Request Approval</h3>
    {% if pending == {} %}
        <p>No pending requests.</p>
    {% endif %}
    {% for id in pending %}
        <p>ID: <strong>{{ id }}</strong>     <a href="{{ url_for('approveRequest', key=adminKey, fragmentID=id) }}">Approve</a>     <a href="{{ url_for('deleteFragment', key=adminKey, fragmentID=id) }}">Delete</a></p>
        <ul>
            <li>IP: {{ pending[id]["originalIP"] }}</li>
            <li>Reason: {{ pending[id]["reason"] }}</li>
            <li>Created: {{ pending[id]["created"] }}</li>
        </ul>
    {% endfor %}

    <br>

    <h3>Active Fragments</h3>
    {% if approved == {} %}
        <p>No active fragments.</p>
    {% endif %}
    {% for id in approved %}
        <p>ID: <strong>{{ id }}</strong> <a href="{{ url_for('deleteFragment', key=adminKey, fragmentID=id) }}">Delete</a></p>
        <ul>
            <li>Original IP: {{ approved[id]["originalIP"] }}</li>
            <li>Known IPs: {{ approved[id]["knownIPs"] }}</li>
            <li>Reason: {{ approved[id]["reason"] }}</li>
            <li>Created: {{ approved[id]["created"] }}</li>
            <li>Last Update: {{ approved[id]["lastUpdate"] }}</li>
        </ul>
    {% endfor %}
</body>
</html>