<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Server</title>
    <style>
        body {
            text-align: center;
        }

        .noDecoration {
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
    <h1><a class="noDecoration" href="/login">Welcome to Data Server!</a></h1>
    <p>Simple key-value data storage location. Storage by approval only. Not for public use.</p>
    <p>For more information, please contact <a href="https://prakhartrivedi.works">Prakhar Trivedi</a>.</p>
    <br>
    <p>© 2025 Prakhar Trivedi. All rights reserved.</p>
</body>
</html>